.vscode/**
.github/**
.gitignore
.vscodeignore
esbuild.mjs
esbuild.adapter.mjs
tsconfig.json
tsconfig.test.json
test/**
out-test/**
PLAN.md
purebasic.asm
*.vsix
src/**
server/**
node_modules/**
dist/**/*.map
